* {
    margin: 0;
    padding: 0;
}
.first-Main {
    background-image: url(../image/image-for-first-main.jpg);
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 140px;
    padding-top: 85px;
    display: inline-block; 
}

.left-div-first-main {
    width: 50%;
    float: left;
}

.hr-first {
    width: 75px;
    border: none;
    border-top:3px solid white;
    margin-top: 50px;
    margin-bottom: 45px;
}

.axit-first {
    color: white;
    font-size: 80px;

}

.it-first {
    font-weight: 100;
    color:#ff8b38;
}

.about-axit-first {
    color: white;
    font-size: 48px;
    font-weight: 100;
    padding-bottom: 5px;
}

.fast-desc {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.button-first-download {
    background: transparent;
    border: 2px solid #e7e7e7;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 35px;
}

.card-main {
    width: 50%;
    padding-top: 25px;    
    float: right;
    padding-left: 215px;
}

.form-card-main {
    background-color: white;
    width: 450px;
    height: 350px;
    border-radius: 5px 5px 0px 0px;

}

.text-card {
    background-color: #f5f5f5;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 21px;
}
.button-card {
    height: 54px;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    border: 2px solid rgb(255, 166, 0);
    color: white;
    background-color: #ff9b51;
}

.text-form-card {
    width: 80%;
    margin-left: 45px;
    margin-bottom: 50px;
    border-top: 0px solid white;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1x solid #fbfbfb;
    border-left: 2px solid #fbfbfb;
    color: #c1c1c1;
    font-size: 26px;
    vertical-align: middle;
    padding-left: 13px;
}
.text-name-card {
    margin-top: 30px;
}
.text-email-card {
    margin-bottom: 30px;
    margin-top: 10px;
}

/* .text-form-card :first-child{
    margin-top: 10px;
} */

.text-free-card {
    color: orange;
}