

.tabs-padding {
    padding: 150px;
    display: inline-block;
}


.bttn {
    background-color: #333333; 
    border: 1px solid #333333; 
    color: white; 
    padding: 10px 24px; 
    display: block;
    margin-top: 1px;
    width: 130px;
    height: 130px;
    border-radius: 3px;
}

.bttn:active {
    background-color: #ff8b38;
}

.bttn:first-child {
    margin-top: -2px;
}

.desc-tab {
    width: 40%;
    float: right;
}