* {
    margin: 0;
    padding: 0;
}

.smd {
    color: white;
}

.smd-marg {
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 10px;
    margin-bottom: -5px;
}

.smd-gran-left {
    color:black;
    width: 35%;
    float: left;
}
.smd-gran-right {
    width: 65%;
    float: right;
    padding-top: 0px;
    padding-left: 100px;
}

ul.Icon-smd li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
}

ul.Icon-smd img {
    width: 90px;
    height: 90px;
    margin-left: 50px;
    margin-right: 50px;
}


.s-m {
    font-size: 26px;
    font-weight: 700;
}