* {
    margin: 0;
    padding: 0;
}

.smd {
    color: white;
    -webkit-box-shadow: 2px 10px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 10px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         10px 10px 2px 0px rgba(50, 50, 50, 0.5);
}

.smd-marg {
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}

.smd-gran-left {
    color:black;
    width: 50%;
    float: left;
}
.smd-gran-right {
    width: 50%;
    float: right;
    padding-top: 10px;
}

ul.Icon-smd li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
}